@media (max-width: 1024px) {

    h1 {
        font-size: calc(24px + 12 * ((100vw - 320px) / (1200 - 320)));
        padding-top: 20px;
    }

    .nav__menu .burger {
        display: block;
        z-index: 1;
    }


    .nav__menu > ul > li > a:hover {
        color: rgba(245, 110, 110, 0.83);
    }

    .nav__menu {
        position: relative;
    }

    .nav__menu > ul {
        position: absolute;
        top: -100px;
        right: -105px;
        width: 320px;
        height: 900px;
        opacity: 0;
        transform: translateX(150px) translateY(110px)rotate(190deg);
        transition: .8s;
        border-radius: 100px;
    }

    #check-burger:checked ~ ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(21, 19, 15, 0.95);
        opacity: 1;
        transform: translateX(0)rotate(0deg);
        transition: 1s;
    }

    .nav__menu > ul > li {
        padding: 10px 0;

    }

    .nav__menu > ul > li {
        margin-right: 0;
    }

    .nav__menu > ul > li > a {
        font-size: 18px;
    }



    @media (max-width: 768px) {
